.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header{
    width: 50%;
    text-align: center;
  }

  .footer{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    color: white;
  }